extends ../layout

block content
  script(src="http://fb.me/react-0.11.2.js")
  script(src="http://code.jquery.com/jquery-1.10.0.min.js")

  #modPack

  script(type="text/javascript" src="/javascripts/hammer.js")


